<div class="container bg-warning bg-gradient">
  <nav class="nav">
    <div class="title">
      <h1>E-COMM</h1>
    </div>

    <div class="d-inline">
      <input type="text" class="form-control" placeholder="Search" />
      <input type="button" class="btn btn-primary" value="Search" />
    </div>
    <div class="menu">
      <ul>
        <li><a href="#">Home</a></li>
        <li><a href="#">About</a></li>
        <li><a href="#">Contact</a></li>
        <li><a href="#">Login</a></li>
      </ul>
    </div>
  </nav>
</div>
