<div class="bg-warning bg-gradient">
  <nav class="nav">
    <div class="title">
      <h1>E-COMM</h1>
    </div>

    <div class="search">
      <input type="text" class="form-control" placeholder="Search" />
      <input type="button" class="btn btn-primary" value="Search" />
    </div>
    <div class="menu">
      <ul>
        <li><a routerLink="/home" >Home</a></li>
        <li><a routerLink="/about" >About</a></li>
        <li><a routerLink="/contact">Contact</a></li>
        <li><a routerLink="/login">Login</a></li>
      </ul>
    </div>
  </nav>
</div>
